<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>test2</title>
  </head>
  <body>

    <div id="app">
      <p>This is test</p>
      <p>{{text}}</p>
      <a href="../views/test1.html">Go to Foo</a>
      <a href="../views/test2.html">Go to Bar</a>
<!-- start content -->
    <p>これはテストです。２</p>
    <p>{{text2}}</p>

<!-- end content -->
    </div>

    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="../js/vue.min.js"></script>
    <script src="../js/controller.js"></script>
  </body>
</html>
